body {
    background: black;
}


h1 {
    color: white;
    text-align: center;
    font-size: 100px;
}

.tc {
    color: white;
}

.div {
    width: 35px;
    height: 35px;
    background-color: black;
    position: relative;
    animation-name: square;
    animation: square 3s infinite;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.reverse {
    animation-direction: alternate;
}

.delay {
    animation-delay: 0.5s;
}

#myDiv {
    display: none;
}

.animate {
    position: relative;
    animation-name: animate;
    animation-duration: 1s;
}

#loader {}

@keyframes animate {
    from {bottom: -180px; opacity: 0 }
    to {bottom: 0px; opacity: 1}
}


@keyframes square {
    0% {
        background-color: white;
        left: -1px;
        top 0px;
    } 100% {
        background-color: darkblue;
        left: 98.0%;
        top 0px;
    }
}

/* @keyframes square { 
  0%   {background-color: black; left: -1px; top: 0px;}
  20%  {background-color: white; left: 100px; top: 0px;}
  40%  {background-color: black; left: 100px; top: 100px;}
  60%  {background-color: white; left: -1px; top: 100px;}
  80%  {background-color: black; left: -1px; top: 0px;}
} */
