body {
    background: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
}

div {
    width: 35px;
    height: 35px;
    background-color: black;
    position: relative;
    animation-name: square;
    animation: square 5s infinite;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.reverse {
    animation-direction: alternate;
}

.delay {
    animation-delay: 0.5s;
}

.sway {
 
}


@keyframes square { 
0%  {background-color: white; left: -1px; top 0px;}
100% {background-color: darkblue; left: 98.5%; top 0px;}
}

/* @keyframes square { 
  0%   {background-color: black; left: -1px; top: 0px;}
  20%  {background-color: white; left: 100px; top: 0px;}
  40%  {background-color: black; left: 100px; top: 100px;}
  60%  {background-color: white; left: -1px; top: 100px;}
  80%  {background-color: black; left: -1px; top: 0px;}
} */


