div {
    width: 200px;
    height: 200px;
    background-color: blue;
    animation-duration: 20s;
    animation-name: square;
    -webkit-animation: square 5s infinite;
    animation-fill-mode: both;
    animation-direction: normal;
}

@keyframes square {
  0%  {background-color: blue; left: 0px; top: 0px;}
  25%  {background-color: yellow; left: 200px;}
  50%  {background-color: green; left: 200px; top: 200px;}
  75%  {background-color: orange; left: 0px; top: 200px;}
  100% {background-color: blueviolet; left: 0px; top: 0px;}
}



